body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
}

#siteContainer {
    margin: auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 97vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid white; /* Add border around the whole content */
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

#myName {
    position: absolute;
    top: 7vh;
    left: 24vw;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 5vw;
    font-family: 'Spectral', serif;
    font-weight: 200;
    z-index: 1; /* Garantir que o texto fique na frente do canvas */
}

#role {
    position: absolute;
    top: 19vh;
    left: 9vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2vw;
    font-family: 'Spectral', serif;
    font-weight: 200;
}

.aboutSection {
    position: absolute;
    top: 40vh;
    left: 27vw;
    margin-top: 5vw;
    margin-right: 2vw;
    width: 45vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.1vw;
    text-align: justify;
    font-family: 'Spectral', serif;
    font-weight: 400;
    z-index: 1;
}

#canvasContainer {
    position: absolute;
    right: 2vw;
    top: 17vh;
    margin-left: 2vw;
    z-index: 1;
}

.contactMessage {
    position: fixed;
    top: 80vh;
    left: 4.5vw;
    display: flex;
    z-index: 1;
}

.socialButtons {
    display: flex;
    gap: 1vw;
}

.socialButton img {
    width: 3vw; /* Adjust the size of the icons */
    height: 3vw;
    transition: transform 0.3s ease;
}

.socialButton img:hover {
    transform: scale(1.2); /* Scale the icons on hover */
}

#threeCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* Ensure it's behind the content */
    object-fit: cover;
}

/**:hover { 
    outline:1px blue solid;
}*/

@font-face {
    font-family: 'Quasar';
    src: url('font/QuasarRegular.woff2') format('woff2'),
        url('font/QuasarRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}