body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#siteContainer {
    width: calc(100vw - 4vmin);
    height: calc(100vh - 4vmin);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    border: 0.1vw solid white; /* Add border around the whole content */
    box-sizing: border-box;
    z-index: 1;
    margin: 0;
    padding: 0;
}

#leftContainer{
    width:48.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
}

#knowledgeContainer{
    width:48.5vw;
    height: 97vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#siteHeader {
    position: relative;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
    gap: 2vh;
    position: relative;
    margin-bottom: auto;
    font-family: 'futura-nd-light-scosf';
}

#siteHeader h1{ 
    font-size: 5vw;
    font-weight: 200;
    padding-left: s0;
    margin-bottom: 0;  /* Remove any bottom margin */
    line-height: 1;  /* Control line height */
}

#siteHeader p{
    font-size: 2vw;
    font-weight: 200;
    margin-top: 0;  /* Remove any top margin */
    line-height: 1;  /* Control line height */
    padding-left: 0.5vw;
    margin-bottom: 1vh;
}

.aboutSection {
    margin-left: 2vw;
    width: 45vw;
    margin-bottom: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe {
    font-size: 1.1vw;
    text-align: justify;
    font-family: "Nohemi-Light";
    font-weight: 400;
    padding: 1vw;
    background-color: rgba(0,0,0,0.5);
}

.contactMessage {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-left: 3vw;
}

.socialButtons {
    display: flex;
    gap: 1vw;
}

.socialButton img {
    width: 3vw; /* Adjust the size of the icons */
    height: 3vw;
    transition: transform 0.3s ease;
}

.socialButton img:hover {
    transform: scale(1.2); /* Scale the icons on hover */
}

#canvasContainer {
    position: relative;
    margin-top: 17vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    width: 100%; /* Garantir que o canvas se ajuste ao espaço disponível */
    height: auto;
    max-width: 100%; /* Impede que o canvas ultrapasse o limite do container */
    max-height: 100%; /* Impede que o canvas ultrapasse o limite do container */
}

#threeCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* Ensure it's behind the content */
    object-fit: cover;
}

/* Quando a altura for maior que a largura (modo retrato), muda para flex-direction: column */
@media (orientation: portrait) {
    #siteContainer {
        flex-direction: column; /* Alinha os itens verticalmente */
    }

    #leftContainer {
        margin-top: 2vh;
        width: 100%; /* Em modo retrato, os containers ocupam a largura total */
        height: 40%; /* Ajusta a altura automaticamente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        margin-bottom: 3vh;
    }

    #knowledgeContainer {
        width: 100%; /* Em modo retrato, os containers ocupam a largura total */
        height: 40%; /* Ajusta a altura automaticamente */
        justify-content: center; /* Centraliza os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    #siteHeader {
        margin-top: 2vh;
    }

    #siteHeader h1{ 
        font-size: 8vw;
        line-height: 0;  /* Control line height */
        margin-bottom: 0;
    }

    #siteHeader p {
        margin-top: 0;
        font-size: 4vw;
        text-align: center;
        line-height: 3;
        padding-bottom: 0;
    }

    .aboutSection{
        width: 90%;
        align-items: flex-start;
        
    }

    .aboutMe {
        font-size: 2.8vw;
    }

    /* Garantir que o canvas ocupe a tela inteira */
    #canvasContainer {
        position: relative; /* Garante que o canvas será posicionado corretamente */
        width: 100%;
        height: 100%;
        overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas do contêiner */
        margin: 0;
    }

    #myCanvas {
        width: 80vw; /* Faz o canvas ocupar toda a largura */
        height: 80vh; /* Faz o canvas ocupar toda a altura */
        z-index: 0; /* Garante que o canvas fique atrás do contactMessage */
        object-fit: cover; /* Ajusta o canvas para cobrir a tela sem distorcer */
        align-items: center;
    }

    .contactMessage{
        bottom: 2%;
        left:50%;
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 1;
    }

    .socialButtons{
        gap: 5vw;
    }

    .socialButton img {
        width: 10vw; /* Adjust the size of the icons */
        height: 10vw;
    }

}

/**:hover { 
    outline:1px blue solid;
}*/

@font-face {
    font-family: 'Nohemi-Light';
    src: url(/font/Nohemi-Light.woff) format('woff'),
        url(/font/Nohemi-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'futura-nd-light-scosf';
    src: url(/font/futura-nd-light-scosf.woff) format('woff'),
         url(/font/futura-nd-light-scosf.woff2) format('woff2');
  }